<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Document</title>
</head>

<body>
    <a href="../../index.html">Ir a Home </a>
    <h2>
        Mi Playlist
    </h2>

    <table>
        <tr>
            <td>
                <a href="#">
                    <img width="80px" height="80px" src="../../assets/images/fondo_01.png">
                </a>
            </td>
            <td>
                <img width="80px" height="80px" src="../../assets/images/fondo_01.png">

            </td>
            <td>
                <img width="80px" height="80px" src="../../assets/images/fondo_01.png">

            </td>
            <td>
                <img width="80px" height="80px" src="../../assets/images/fondo_01.png">

            </td>
            <td>
                <img width="80px" height="80px" src="../../assets/images/fondo_01.png">

            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>
    <ul type="square">
        <li>
            musica 1
        </li>
        <li>
            musica 2
        </li>
        <li>
            musica 3
        </li>
        <li>
            musica 4
        </li>
    </ul>
    <footer>Esto es un footer</footer>
</body>

</html>